# Aus https://www.sanity.io/manage (Projekt > Project ID)
NEXT_PUBLIC_SANITY_PROJECT_ID=wg30antz
NEXT_PUBLIC_SANITY_DATASET=production
# Gratis Access Key von https://web3forms.com (an die E-Mail der Empfängerin)
NEXT_PUBLIC_WEB3FORMS_KEY=
